
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: packetmachinetemplates.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: PacketMachineTemplate
    listKind: PacketMachineTemplateList
    plural: packetmachinetemplates
    singular: packetmachinetemplate
  scope: Namespaced
  validation:
    openAPIV3Schema:
      description: PacketMachineTemplate is the Schema for the packetmachinetemplates
        API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: PacketMachineTemplateSpec defines the desired state of PacketMachineTemplate
          properties:
            template:
              description: PacketMachineTemplateResource describes the data needed
                to create am PacketMachine from a template
              properties:
                spec:
                  description: Spec is the specification of the desired behavior of
                    the machine.
                  properties:
                    OS:
                      type: string
                    billingCycle:
                      type: string
                    hardwareReservationID:
                      description: HardwareReservationID is the unique device hardware
                        reservation ID or `next-available` to automatically let the
                        Packet api determine one.
                      type: string
                    machineType:
                      type: string
                    providerID:
                      description: ProviderID is the unique identifier as specified
                        by the cloud provider.
                      type: string
                    sshKeys:
                      items:
                        type: string
                      type: array
                    tags:
                      description: Tags is an optional set of tags to add to Packet
                        resources managed by the Packet provider.
                      items:
                        type: string
                      type: array
                  required:
                  - OS
                  - billingCycle
                  - machineType
                  type: object
              required:
              - spec
              type: object
          required:
          - template
          type: object
      type: object
  version: v1alpha3
  versions:
  - name: v1alpha3
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
