
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: packetmachines.infrastructure.cluster.x-k8s.io
spec:
  additionalPrinterColumns:
  - JSONPath: .metadata.labels.cluster\.x-k8s\.io/cluster-name
    description: Cluster to which this PacketMachine belongs
    name: Cluster
    type: string
  - JSONPath: .status.instanceState
    description: Packet instance state
    name: State
    type: string
  - JSONPath: .status.ready
    description: Machine ready status
    name: Ready
    type: string
  - JSONPath: .spec.providerID
    description: Packet instance ID
    name: InstanceID
    type: string
  - JSONPath: .metadata.ownerReferences[?(@.kind=="Machine")].name
    description: Machine object which owns with this PacketMachine
    name: Machine
    type: string
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: PacketMachine
    listKind: PacketMachineList
    plural: packetmachines
    singular: packetmachine
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: PacketMachine is the Schema for the packetmachines API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: PacketMachineSpec defines the desired state of PacketMachine
          properties:
            OS:
              type: string
            billingCycle:
              type: string
            facility:
              items:
                type: string
              type: array
            hardwareReservationID:
              description: HardwareReservationID is the unique device hardware reservation
                ID or `next-available` to automatically let the Packet api determine
                one.
              type: string
            machineType:
              type: string
            providerID:
              description: ProviderID is the unique identifier as specified by the
                cloud provider.
              type: string
            sshKeys:
              items:
                type: string
              type: array
            tags:
              description: Tags is an optional set of tags to add to Packet resources
                managed by the Packet provider.
              items:
                type: string
              type: array
          required:
          - OS
          - billingCycle
          - machineType
          type: object
        status:
          description: PacketMachineStatus defines the observed state of PacketMachine
          properties:
            addresses:
              description: Addresses contains the Packet device associated addresses.
              items:
                description: NodeAddress contains information for the node's address.
                properties:
                  address:
                    description: The node address.
                    type: string
                  type:
                    description: Node address type, one of Hostname, ExternalIP or
                      InternalIP.
                    type: string
                required:
                - address
                - type
                type: object
              type: array
            errorMessage:
              description: "ErrorMessage will be set in the event that there is a
                terminal problem reconciling the Machine and will contain a more verbose
                string suitable for logging and human consumption. \n This field should
                not be set for transitive errors that a controller faces that are
                expected to be fixed automatically over time (like service outages),
                but instead indicate that something is fundamentally wrong with the
                Machine's spec or the configuration of the controller, and that manual
                intervention is required. Examples of terminal errors would be invalid
                combinations of settings in the spec, values that are unsupported
                by the controller, or the responsible controller itself being critically
                misconfigured. \n Any transient errors that occur during the reconciliation
                of Machines can be added as events to the Machine object and/or logged
                in the controller's output."
              type: string
            errorReason:
              description: Any transient errors that occur during the reconciliation
                of Machines can be added as events to the Machine object and/or logged
                in the controller's output.
              type: string
            instanceStatus:
              description: InstanceStatus is the status of the Packet device instance
                for this machine.
              type: string
            ready:
              description: Ready is true when the provider resource is ready.
              type: boolean
          type: object
      type: object
  version: v1alpha3
  versions:
  - name: v1alpha3
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
