name: Pull Request Validation
on:
  workflow_dispatch:
jobs:
  validate:
    name: "Validate ${{ matrix.target }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: ["verify", "lint", "test"]
    steps:
    - name: checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-go@v4
      with: 
        go-version-file: './go.mod'
    - uses: actions/cache@v3
      with:
        path: hack/tools/bin
        key: ${{ runner.os }}-tools-bin-${{ matrix.target }}-${{ hashFiles('Makefile') }}
        restore-keys: |
          ${{ runner.os }}-tools-bin-${{ matrix.target }}-
          ${{ runner.os }}-tools-bin-
    - uses: actions/cache@v3
      if: ${{ matrix.target == 'test' }}
      with:
        path: /tmp/kubebuilder-tools-*.tar.gz
        key: ${{ runner.os }}-tmp-${{ matrix.target }}-${{ hashFiles('scripts/fetch_ext_bins.sh') }}
        restore-keys: |
          ${{ runner.os }}-tmp-${{ matrix.target }}-
          ${{ runner.os }}-tmp-
    - name: ${{ matrix.target }}
      run: make ${{ matrix.target }}
